html, body {margin: 0px; padding: 0px; height: 100%; }

@font-face {
    font-family: Dax-Regular;
    src:url('../fonts/Dax-Regular.ttf');
}

body {
    font-family: Helvetica, Arial;
    background-color: #0A0A2A;
    font-size: 17px;
}

div#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-height: 100%;
}

div#header {
    font-size: 35px;
    font-family: Dax-Regular;
    text-align: center;
    background-color: #FFFFFF;
    color: #CEF6CE;
    border-bottom: 2px dashed black;
    letter-spacing: 3px;
}

div#content {
    padding: 10px;
}

.rounded-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.left { float: left; }
.right { float: right; }
.clearfix {clear: both; }

.w100 { width: 100px; }
.w250 { width: 250px; }

ul.messages {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

ul.messages li {
    border: 2px solid #FFF;
    margin: 5px;
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

ul.messages li.error { background-color: #B40404; }
ul.messages li.success { background-color: #21610B; }
ul.messages li.info { background-color: #071019; }

ul.errorlist { list-style-type: none; margin: 0px 0px 20px 0px; padding: 0px; }
ul.errorlist li { float: left; font-size: 12px; color: #8A0808; }

ul#nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul#nav li {
    float: left;
}

ul#nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background:url('../img/gradient.png') 0px -20px;
}

ul#nav li a:hover {
    background:url('../img/gradient.png') 0px -10px;
}

/*----------------------------------------------------------------------------*/

form#login-form {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

table.data { width: 100%; }
table.data th { cursor: pointer; }
table.data td { font-size: 12px; }

div#tut-mini-wrapper {
    width: 800px;
}

div#tut-mini-wrapper div {
    float: left;
    width: 375px;
    border: 1px solid black;
}

