html, body {margin: 0px; padding: 0px; height: 100%; }

@font-face {
    font-family: Dax-Regular;
    src:url('../fonts/Dax-Regular.ttf');
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src:url('../fonts/AlteHaasGroteskBold.ttf');
}

body {
    font-family: Helvetica, Arial;
    background-color: #0A0A2A;
    font-size: 17px;
}

div#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-height: 100%;
}

div#header {
    font-size: 35px;
    font-family: Dax-Regular;
    /*padding: 20px 0px 20px 0px;*/
    text-align: center;
    background-color: #FFFFFF;
    /*background-color: #071907;*/
    color: #CEF6CE;
    border-bottom: 2px dashed black;
    letter-spacing: 3px;
}

div#content {
    padding: 10px;
}

.rounded-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.left { float: left; }
.right { float: right; }
.clearfix {clear: both; }

.w100 { width: 100px; }
.w250 { width: 250px; }

form#login-form {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

div.tut-explanation {
    border: 1px solid #0A0A2A;
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div.tut-explanation p {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

form.tut-form {
    color: #0A0A2A;
    padding-left: 140px;
    font-size: 18px;
    font-family: Dax-Regular;
}

form.tut-form input, form.tut-form textarea {
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    font-family: Helvetica, Arial;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form.tut-form input[type=submit] {
    font-size: 20px;
    padding: 5px;
    background-color: #0B0B3B;
    color: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    left: 100px;
    top: 10px;
}

form.tut-form ul{
    list-style-type: none;
}

div.tutee-form-fieldset {
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #000000;
    width: 650px;
}

ul.messages {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

ul.messages li {
    border: 2px solid #FFF;
    margin: 5px;
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

ul.messages li.error { background-color: #B40404; }
ul.messages li.success { background-color: #21610B; }
ul.messages li.info { background-color: #071019; }

ul.errorlist { list-style-type: none; margin: 0px 0px 20px 0px; padding: 0px; }
ul.errorlist li { float: left; font-size: 12px; color: #8A0808; }
