html, body {margin: 0px; padding: 0px; height: 100%; }

@font-face {
    font-family: Dax-Regular;
    src: url('../fonts/Dax-Regular.ttf');
}

body {
    font-family: Helvetica, Arial;
    background: url('../img/bg-img.jpg') repeat;
    background-size: 254px 254px;
    font-size: 17px;
}

div#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-height: 100%;
}

div#header {
    font-size: 35px;
    font-family: Dax-Regular;
    text-align: center;
    color: #2A0A0A;
    padding: 16px;
    letter-spacing: 3px;
    background-color: #D8D8D8;
}

#header button {
  padding: 8px;
  color: #1C1C1C;
  font-size: 18px;
  float: right;
  background-color: #F2F2F2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

div#content {
  padding: 32px;
}

.link, .link:visited {
  color: #04B404;
  text-decoration: none;
}
.link:hover, .link:active {
  color: #01DF01;
  text-decoration: underline;
}

.crumbs a {
  text-decoration: none;
  font-size: 15px;
  color: #0B610B;
}

.crumbs a.selected {
  color: #0B1907;
}

.rounded-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.left { float: left; }
.right { float: right; }
.clearfix {clear: both; }

.w100 { width: 100px; }
.w250 { width: 250px; }

.italic { font-style: italic; }
.bold { font-weight: bold; }

ul.messages {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

ul.messages li {
    border: 2px solid #FFF;
    margin: 5px;
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

ul.messages li.error { background-color: #B40404; }
ul.messages li.success { background-color: #21610B; }
ul.messages li.info { background-color: #071019; }

ul.errorlist { list-style-type: none; margin: 0px 0px 20px 0px; padding: 0px; }
ul.errorlist li { float: left; font-size: 12px; color: #8A0808; }

#nav {
    list-style-type: none;
    margin: 0px;
    padding: 8px 8px 0 8px;
    display: block;
    background-color: #D8D8D8;
}

#nav li {
    float: left;
}

#nav li a {
    margin: 2px;
    color: #2A1B0A;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    text-shadow: #FFFFFF 1px 1px 2px;
    -webkit-text-shadow: #FFFFFF 1px 1px 2px;
    border-radius: 5px 5px 0 0;
}

#nav li a:hover {
  background-color: #E6E6E6;
}

#nav li a.selected {
  background-color: #FFFFFF;
  position: relative;
  top: 2px;
}

form input, form textarea {
    font-size: 15px;
    padding: 4px;
    font-family: Helvetica, Arial;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

form input[type="submit"] {
  padding: 4px;
}

.form-but {
    font-size: 20px;
    padding: 5px;
    background-color: #0B0B3B;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
.radio-buttons {
    margin: 10px;
}

.radio-buttons label {
    font-size: 13px;
    padding: 10px;
    margin: 0px;
    margin-right: -0.5em;
    width: 50px;;
    position: relative:
    right: -10px;
    top: 0px;
}

.radio-buttons input {
    margin: 0px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow: auto;
}

textarea {
    font-family: Helvetica, Arial;
}

form#login-form {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

table.data {
  width: 100%;
  border-collapse: collapse;
}
table.data th {
  cursor: pointer;
  font-weight: normal;
  color: #0B3B17;
  font-size: 14px;
  border-bottom: 2px solid #848484;
}

table.data tr.even {
  background-color: rgba(0, 225, 15, 0.09);
  border-top: 1px solid #848484;
}

table.data tr.odd {
  background-color: rgba(0, 217, 215, 0.03);
  border-top: 1px solid #848484;
}

table.data tr td {
  font-size: 12px;
  padding: 4px;
  color: #2E2E2E;
  background-color: transparent !important;
}

table.data tr:first-child {
  border-top-color: transparent;
}

table.data td:last-child {
    display: block;
    overflow: hidden;
}

.dataTables_filter, .dataTables_length {
    font-size: 15px;
    color: #122A0A;
    font-family: Dax-Regular;
}

/* Matchmaking page */
div.tut-mini-wrapper {
    width: 420px;
    float: left;
    padding: 7px;
    margin: 2px;
}

#match-box {
    width: 920px;
    padding: 5px;
    border: 1px solid black;
}

#match-box textarea {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  width: 300px;
  height: 34px;
}

.right-dashed {
    border-right: 2px dashed #122A0A;
}

div#tut-mini-wrapper div {
    float: left;
    width: 375px;
}

div.tutee-cand, div.tutor-cand {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
}

div.cancel-tut {
  float: right;
  height: 16px;
  width: 16px;
  font-size: 9px;
  color: rgb(255, 0, 0);
  opacity: 0.7;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
}

.tut-drop-box {
    color: #29220A;
    width: 45%;
    float: left;
    height: 50px;
    margin: 8px;
    padding: 8px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #1C1C1C;
}

#tutee-box {
  background-color: #CEECF5;
}

#tutor-box {
  background-color: #A9F5E1;
}

.tut-dropped-value {
    width: 400px;
    float: left;
    font-size: 12px;
    color: #424242;
}

.cleditorMain {
    position: relative;
    left: 100px;
    top: 10px;
}

.response {
    padding: 5px;
    border-bottom: 2px dashed black;
}

#get-response input {
  font-size: 16px;
  padding: 4px;
  color: #2E2E2E;
}

#get-response select {
  padding: 4px;
  font-size: 16px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2E2E2E;
}

#get-response button {
  font-size: 16px;
  padding: 4px;
  color: #2E2E2E;
}

.response-div-header {
  width: 300px;
  margin: 8px 0 8px 16px;
  padding: 8px;
  font-size: 16px;
  display: none;
  color: #29220A;
  border-bottom: 2px dashed #29220A;
}

#response-div {
  padding: 16px;
}

#all-notifs {
  width: 500px;
}

.all-notifications {
  font-size: 13px;
  min-height: 160px;
  border: 1px solid black;
}
