div.tut-explanation {
    border: 1px solid #0A0A2A;
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div.tut-explanation p {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

form.tut-form {
    color: #0A0A2A;
    padding-left: 140px;
    font-size: 18px;
    font-family: Dax-Regular;
}

div.tutee-form-fieldset {
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #000000;
    width: 650px;
}
