{% extends "base.html" %}
{% block body %}
<div class="crumbs">
  <a href="{% url tutees.views.tutees_json "available" %}" class="selected">Available</a>
  &#124;
  <a href="{% url tutees.views.tutees_json "unavailable" %}">Unavailable</a>
  &#124;
  <a href="{% url tutees.views.tutees_json "all" %}">All</a>
  &#124;
  <a href="{% url tutees.views.tutees_json "hidden" %}">Hidden</a>
</div>

<table id="tutees" class="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Grade</th>
            <th>Subjects</th>
            <th>Add on</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
  $('table#tutees').dataTable({
    "bProcessing": true,
    "sAjaxSource": "{% url tutees.views.tutees_json "available" %}",
    "fnDrawCallback": function(oSettings) {
      $('.dataTables_filter').after('<br/>');
      tuteeEditHandlers("{% url tutees.views.edit_tutee %}");
    }
  });

  $('#tutees-nav').addClass('selected');
  $('.crumbs a').click(function() {
    $('.crumbs a').removeClass('selected');
    $('table#tutees').dataTable().fnReloadAjax($(this).attr('href'));
    $(this).addClass('selected');
    return false;
  });
});
</script>
{% endblock extrascript %}
