<form  action="{% url tutees.views.edit_tutee tutee_id %}" method="post">
{% include "snippets/tutee_form.html" %}
<div class="w100 left">
    <input type="submit" value="Save" class="form-but"/>
</div>
<div class="w100 left">
    <button id="del-but" class="form-but">
        {% if tutee.active %}Delete{% else %}Restore{% endif %}
    </button>
</div>
</form>
<script type="text/javascript">
{% if not submitted %}
    $('form').submit(function(event) {
        event.preventDefault();
        var dataStr = ;
        $.post("{% url tutees.views.edit_tutee tutee_id %}",
            $('form').serialize(), function(data) {
                $('form').parent().html(data);
        });
    });

    $('#del-but').click(function() {
        var conf = confirm('Are you sure you want to delete this tutee?');
        if (conf) {
            $.ajax({
                type: "DELETE",
                url: "{% url tutees.views.delete_tutee tutee_id %}",
                success: function(data) {
                    $('form').parent().dialog('close');
                    $('.ui-state-active').prev().trigger('click');
                }
            });
        }
        return false;
    });

{% else %}
$('form').parent().dialog('close');
{% endif %}
</script>
