{% extends "base.html" %}
{% block body %}
<div class="tut-explanation rounded-10">
    <p>Use this form to register your child for tutoring. Please fill out this form once per child.</p>
    <p>Problems? Contact the LCS Tutoring Coordinators at lcs.tutor [at] gmail dot com!</p>
</div>
<form action="{% url tutees.views.register %}" class="tut-form" method="post" id="tutee-form">
    {% include "snippets/tutee_form.html" %}
    <div class="w100 left">
        <input type="submit" class="form-but"/>
    </div>
    <div class="clearfix"></div>
</form>
{% endblock body %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reg.css" />
{% endblock extrastyle %}
