{% extends "base.html" %}
{% block body %}
<div class="crumbs">
  <a href="{% url tutors.views.tutors_json "available" %}" class="selected">Available</a>
  &#124;
  <a href="{% url tutors.views.tutors_json "unavailable" %}">Unavailable</a>
  &#124;
  <a href="{% url tutors.views.tutors_json "all" %}">All</a>
  &#124;
  <a href="{% url tutors.views.tutors_json "hidden" %}">Hidden</a>
</div>

<table id="tutors" class="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Year</th>
            <th>Pref</th>
            <th>Subjects</th>
            <th>Add on</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="clearfix"></div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
  $('table#tutors').dataTable({
    "bProcessing": true,
    "sAjaxSource": "{% url tutors.views.tutors_json "available" %}",
    "fnDrawCallback": function(oSettings) {
      $('.dataTables_filter').after('<br/>');
      tutorEditHandlers("{% url tutors.views.edit_tutor %}");
    }
  });

  $('#tutors-nav').addClass('selected');
  $('.crumbs a').click(function() {
    $('.crumbs a').removeClass('selected');
    $('table#tutors').dataTable().fnReloadAjax($(this).attr('href'));
    $(this).addClass('selected');
    return false;
  });
});

</script>
{% endblock extrascript %}
