{% extends "base.html" %}
{% block body %}
<div class="tut-explanation rounded-10">
    <p>Use this form to register as a volunteer tutor for LCS tutoring</p>
    <p>Problems? Contact the LCS Tutoring Coordinators at lcs.tutor [at] gmail dot com!</p>
</div>
<br/>
<form action="{% url tutors.views.register %}" class="tut-form" method="post" id="tutor-form">
    {% include "snippets/tutor_form.html" %}
    <div class="clearfix"></div>
    <div class="w100 left">
        <input type="submit" class="form-but"/>
    </div>
    <br/>
    <div class="clearfix"></div>
</form>
{% endblock body %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reg.css" />
{% endblock extrastyle %}
