{% extends "base.html" %}
{% block body %}
{% load day_display %}
<div class="crumbs">
  <a href="{% url match.views.all_matches %}" class="selected">All Matches</a>
  &#124;
  <a href="{% url match.views.new_match %}">New Match</a>
</div>
<table id="matches" class="data">
    <thead>
        <tr>
            <th>Tutor</th>
            <th>Child</th>
            <th>Parent</th>
            <th>Subject</th>
            <th>Day/time</th>
            <th>Location</th>
            <th>Matcher</th>
            <th>Added on</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        dataTable = $('table#matches').dataTable({
            "bProcessing": true,
            "sAjaxSource": "{% url match.views.matches_json %}",
            "fnDrawCallback": function(oSettings) {
              $('.dataTables_filter').after('<br/>');
              matchEditHandlers("{% url match.views.edit_match %}",
                  "{% url match.views.matches_json %}");
            }
        });
        $('#matches-nav').addClass('selected');
    });
</script>
{% endblock extrascript %}
