{% load form_helpers %}
<form class="tut-form" action="{% url match.views.edit_match match_id %}" method="post">
    {% if form.non_field_errors %}
    <ul class="errorlist">{{ form.non_field_errors.as_ul }}</ul>
    {% endif %}
    <div class="w100 left">
        Tutor:
    </div>
    <div class="w250 left">
        {{ match.tutor.get_full_name }}
    </div>
    <div class="w100 left">
        Tutee:
    </div>
    <div class="w250 left">
        {{ match.tutee.get_child_full_name }}
    </div>
    <div class="clearfix"></div><br/>
    <div class="w100 left">Time</div>
    <div class="w250 left">
        {{ form.time }}
        {{ form.time.errors }}
    </div>
    <div class="w100 left">
        Day
    </div>
    <div class="w250 left">
        {{ form.day }}
        {{ form.day.errors }}
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="w100 left">
        Location
    </div>
    <div class="w250 left">
        {{ form.location }}
        {{ form.location.errors }}
    </div>
    <div class="w100 left">
        Matcher:
    </div>
    <div class="w250 left">
        {{ match.matcher.get_full_name }}
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="w250 left">
        {{ form.note|rows:"5" }}
        {{ form.note.errors }}
    </div>
    <br/>
    <div class="clearfix"></div>
    <br/>
    <div class="clearfix"></div>
    {% csrf_token %}
    <div class="w100 left">
        <input type="submit" value="Save" class="form-but"/>
    </div>
    <div class="w100 left">
        <button id="del-but" class="form-but">Delete</button>
    </div>
</form>
<script type="text/javascript">
    {% if not submitted %}
    $('form').submit(function(event) {
            event.preventDefault();
            var dataStr = $('form').serialize();
            $.ajax({
                type: "POST",
                url: "{% url match.views.edit_match match_id %}",
                data: dataStr,
                success: function(data) {
                    $('form').parent().html(data);
                }
            });
    });
    $('#del-but').click(function() {
        var conf = confirm('Are you sure you want to delete this match?');
        if (conf) {
            $.ajax({
                type: "DELETE",
                url: "{% url match.views.delete_match match_id %}",
                success: function(data) {
                    $('form').parent().dialog('close');
                    dataTable.fnReloadAjax('{% url match.views.matches_json %}')
                }
            });
        }
        return false;
    });
    {% else %}
        // Saved
        $('form').parent().dialog('close');
    {% endif %}
</script>
