{% extends "base.html" %}
{% block body %}
<div id="selection" class="radio-buttons">
    <input type="radio" id="available-tutors" checked="checked" name="radio" />
    <label for="available-tutors">Available</label>

    <input type="radio" id="unavailable-tutors" name="radio" />
    <label for="unavailable-tutors">Unavailable</label>

    <input type="radio" id="all-tutors" name="radio" />
    <label for="all-tutors">All</label>

    <input type="radio" id="hidden-tutors" name="radio" />
    <label for="hidden-tutors">Hidden</label>
</div>

<table id="tutors" class="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Year</th>
            <th>Pref</th>
            <th>Subjects</th>
            <th>Added on</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('table#tutors').dataTable({
        "bProcessing": true,
        "sAjaxSource": "{% url tutors.views.tutors_json "available" %}",
        "fnDrawCallback": function(oSettings) {
            tutorEditHandlers("{% url tutors.views.edit_tutor %}");
        }
    });
    $('#selection').buttonset();
});

$('#all-tutors').click(function() {
        $('table#tutors').dataTable().
        fnReloadAjax('{% url tutors.views.tutors_json "all" %}');
        return false;
});

$('#available-tutors').click(function() {
        $('table#tutors').dataTable().
        fnReloadAjax('{% url tutors.views.tutors_json "available" %}');
        return false;
});

$('#unavailable-tutors').click(function() {
        $('table#tutors').dataTable().
        fnReloadAjax('{% url tutors.views.tutors_json "unavailable" %}');
        return false;
});

$('#hidden-tutors').click(function() {
        $('table#tutors').dataTable().
        fnReloadAjax('{% url tutors.views.tutors_json "hidden" %}');
        return false;
});

</script>
{% endblock extrascript %}
