{% extends "base.html" %}
{% block body %}
<table id="tutees" class="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Home</th>
            <th>Cell</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Grade</th>
            <th>Subjects</th>
            <th>Add on</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
            $('table#tutees').dataTable({
                "bProcessing": true,
                "sAjaxSource": "{% url tutees.views.tutees_json %}"
            });
    });
</script>
{% endblock extrascript %}
