{% extends "base.html" %}
{% block body %}
<a href="{% url match.views.new_match %}">New Match</a>
<table id="matches" class="data">
    <thead>
        <tr>
            <th>Tutor</th>
            <th>Child</th>
            <th>Parent</th>
            <th>Subject</th>
            <th>Matcher</th>
            <th>Added on</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr id="{{match.id}}">
            <td>{{ match.tutor.get_full_name }}</td>
            <td>{{ match.tutee.get_child_full_name }}</td>
            <td>{{ match.tutee.get_parent_full_name }}</td>
            <td>{{ match.tutee.subject }}</td>
            <td>{{ match.matcher }}</td>
            <td>{{ match.added_on }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('table#matches').dataTable({
            "fnDrawCallback": function(oSettings) {
                matchEditHandlers();
            }
        });
    });
</script>
{% endblock extrascript %}
