{% extends "base.html" %}
{% block body %}
<div id="selection" class="radio-buttons">
    <input type="radio" id="available-tutees" checked="checked" name="radio" />
    <label for="available-tutees">Available</label>

    <input type="radio" id="unavailable-tutees" name="radio" />
    <label for="unavailable-tutees">Unavailable</label>

    <input type="radio" id="all-tutees" name="radio" />
    <label for="all-tutees">All</label>

    <input type="radio" id="hidden-tutees" name="radio" />
    <label for="hidden-tutees">Hidden</label>
</div>

<table id="tutees" class="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Home</th>
            <th>Cell</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Grade</th>
            <th>Subjects</th>
            <th>Add on</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('table#tutees').dataTable({
        "bProcessing": true,
        "sAjaxSource": "{% url tutees.views.tutees_json "available" %}",
        "fnDrawCallback": function(oSettings) {
            tuteeEditHandlers("{% url tutees.views.edit_tutee %}");
        }
    });
    $('#selection').buttonset();
});

$('#all-tutees').click(function() {
        $('table#tutees').dataTable().
        fnReloadAjax('{% url tutees.views.tutees_json "all" %}');
        return false;
});

$('#available-tutees').click(function() {
        $('table#tutees').dataTable().
        fnReloadAjax('{% url tutees.views.tutees_json "available" %}');
        return false;
});

$('#unavailable-tutees').click(function() {
        $('table#tutees').dataTable().
        fnReloadAjax('{% url tutees.views.tutees_json "unavailable" %}');
        return false;
});

$('#hidden-tutees').click(function() {
        $('table#tutees').dataTable().
        fnReloadAjax('{% url tutees.views.tutees_json "hidden" %}');
        return false;
});
</script>
{% endblock extrascript %}
