<html>
    <head>
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/cssrules.css" />
        {% block extrastyle %}
        {{ extrastyle }}
        {% endblock extrastyle %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
            LCS Tutoring Management system 
            {% if user.is_authenticated %}
            <a href="{% url account.views.logout_page %}">
                <button>Logout</button>
            </a>
            {% endif %}
            </div>
            <div id="content">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% block body %}
                {{ body }}
                {% endblock body %}
                test
            </div>
        </div>
        <script style="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.1.min.js">
        </script>
        {% block extrascript %}
        {{ extrascript }}
        {% endblock extrascript %}
    </body>
</html>
