{% extends "base.html" %}
{% block body %}
Welcome {{user.first_name}}
<div class="summary-container">
  <h3>Summary</h3>
  <div>Summary goes here</div>
</div>
<div class="notifications-container">
  <h3>Notifications</h3>
<div id="all-notifs"></div>
</div>
<h3>TODO</h3>
<ul>
  <li>Summaries</li>
</ul>
<br/>
{% endblock body %}

{% block extrascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#dashboard-nav').addClass('selected');
    $('#all-notifs').load("{% url notification.views.view_notifications 0 %}");
  });
</script>
{% endblock extrascript %}
