{% extends "base.html" %}
{% block body %}
<div id="match-box">
    <div>Tutor:
        <span id="tutor-selected"></span>
    </div>
    <div>Tutee:
        <span id="tutee-selected"></span>
    </div>
    <button>Make match</button>
</div>
<div id="tut-mini-wrapper">
    <div>
        <div>Tutors</div>
        {% for tutor in tutors %}
        <div class="tutor-cand" rel="{{tutor.id}}">
            {{ tutor.get_full_name }}
        </div>
        {% endfor %}
    </div>
    <div>
        <div>Tutees</div>
        {% for tutee in tutees %}
        <div class="tutee-cand" rel="{{tutee.id}}">
            {{ tutee.get_child_full_name }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>
{% endblock body %}
