{% extends "base.html" %}
{% block body %}
<div id="tut-mini-wrapper">
    <div>
        <div>Tutors</div>
        {% for tutor in tutors %}
        <div class="tutor-cand" id="tutor-{{tutor.id}}">
            {{ tutor.get_full_name }}
        </div>
        {% endfor %}
    </div>
    <div>
        <div>Tutees</div>
        {% for tutee in tutees %}
        <div class="tutee-cand" id="tutee-{{tutor.id}}">
            {{ tutee.get_child_full_name }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>
{% endblock body %}
