{% extends "base.html" %}
{% block body %}
<h2>Edit Response</h2>
<form class="tut-form" action="{% url response.views.edit_response response_id %}" method="post">
    {% include "snippets/response_form.html" %}
    <br/>
    <input type="submit" class="form-but" value="Save" />
    <a href="{% url response.views.all_responses %}">
        <input type="reset" class="form-but" value="Cancel" />
    </a>
</form>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript"
    src="{{MEDIA_URL}}plugins/cleditor/jquery.cleditor.min.js">
</script>
<script type="text/javascript">
  $(function() {
    $('#id_response').cleditor();
    $('#response-nav').addClass('selected');
  });
</script>
{% endblock extrascript %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
        href="{{MEDIA_URL}}plugins/cleditor/jquery.cleditor.css" />
{% endblock extrastyle %}
