{% extends "base.html" %}
{% block body %}
<div class="crumbs">
  <a href="{% url response.views.respond %}">
    Respond
  </a>
  &#124;
  <a href="{% url response.views.all_responses %}">
    All responses
  </a>
  &#124;
  <a href="{% url response.views.new_response %}" class="selected">
    Create response
  </a>
</div>
<h2>New Response</h2>
<form class="tut-form" action="{% url response.views.new_response %}" method="post">
    {% include "snippets/response_form.html" %}
    <br/>
    <input type="submit" class="form-but" value="Save" />
</form>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript"
    src="{{MEDIA_URL}}plugins/cleditor/jquery.cleditor.min.js">
</script>
<script type="text/javascript">
  $(function() {
    $('#id_response').cleditor();
    $('#response-nav').addClass('selected');
  });
</script>
{% endblock extrascript %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
        href="{{MEDIA_URL}}plugins/cleditor/jquery.cleditor.css" />
{% endblock extrastyle %}
