{% extends "base.html" %}
{% block body %}
<a href="{% url response.views.new_response %}">Create response</a>
<a href="{% url response.views.all_responses %}">All responses</a>
<h1>Respond</h1>
<form action="{% url response.views.respond %}" id="get-response" method="get">
<input id="tutee-resp" placeholder="Tutee Name" class="resp-autocomplete"
    rel="{% url tutees.views.search_ajax %}"/>
<input id="tutee-resp-val" name="tutee" type="hidden"/>

<input id="tutor-resp" placeholder="Tutor Name" class="resp-autocomplete"
    rel="{% url tutors.views.search_ajax %}"/>
<input id="tutor-resp-val" name="tutor" type="hidden"/>
<select name="response">
    {% for response in responses %}
    <option value="{{response.id}}">
        {{response.name}}
    </option>
    {% endfor %}
</select>
<button>Get response</button>
<br/>
<div class="response-div-header">Response</div>
<div class="clearfix"></div>
<div id="response-div" class="ui-corner-all"></div>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript">
  $(function() {
    responseAutocompleteInit();
    $('#response-nav').addClass('selected');
    getResponseInit();
  });
</script>
{% endblock extrascript %}
